.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.app h4 {
  margin-right: 10px;
}
.service-post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-post-list .container {
  width: calc(50% - 10px); /* Die Breite der Container anpassen */
  margin-bottom: 20px;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0070c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #064572;
}
p.error-message {
  color: red;
}
.input-container {
  margin-top: 5px;
}

.input-container select,
.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
